<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta name="description" content="This is the personal/business card site of Dylan Hughes, a sofwtare engineer living in Washington, DC.">
  <meta name="author" content="Dylan Hughes">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon" /> -->
  <title>Dylan Hughes</title>

</head>
<body>

  <div class="main">
    <h1>Head Successful</h1>
