<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta name="description" content="This is the personal blog of Dylan Hughes, a sofwtare engineer living in Washington, DC.">
  <meta name="author" content="Dylan Hughes">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/default.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/highlight.min.js"></script>
  <link rel="stylesheet" type="text/css" href="./main.css">
  <!-- Favicons  -->
  <link rel="apple-touch-icon" sizes="57x57" href="images/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="images/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="images/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="images/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="images/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="images/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="images/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="images/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="images/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
  <link rel="manifest" href="images/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="images/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <title>{blog}</title>

</head>
<body>
  <div class="headerDiv">
    <div class="nav">
      <a href="https://www.dylanbhughes.io">dylanbhughes.io</a>
      <a href="https://www.github.com/dylanbhughes">Github</a>
      <a href="https://www.facebook.com/dylanbhghes">Facebook</a>
      <a class="linkedin" href="https://www.linkedin.com/in/dylanbhughes">LinkedIn</a>
    </div>
    <div class="bannerDiv">
      <h1>Look! A Blog!</h1>
      <p>
        My name's Dylan and I'm a software engineer living in New York. I built this blog with Node and Express. It takes .md files and turns them into blog posts. I'm always up for constructive criticism, advice, and collaboration: <a href="mailto:dylanbhughes@gmail.com">dylanbhughes@gmail.com</a>
      </p>
    </div>
  </div>
  <div class="main">
