<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta name="description" content="This is the personal blog of Dylan Hughes, a sofwtare engineer living in Washington, DC.">
  <meta name="author" content="Dylan Hughes">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" type="text/css" href="./main.css">
  <link rel="icon" href="./images/favicon.ico" type="image/x-icon" />
  <title>Dylan Hughes</title>

</head>
<body>

  <div class="main">
    <h1>Look! A Blog!</h1>
    <div class="headerDiv">
      <p>
        Yeah I went ahead and wrote one of these things. If you're interested in my work as a software engineer check out my personal site at <a href="http://www.dylanbhughes.io">dylanbhughes.io</a>.
      </p>
    </div>
